<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Your Mail Sent Successfully</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/loader.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/success.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <section class="mail-seccess section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="success-inner">
                        <h1><i class="fa fa-envelope"></i><span>Your Mail Sent Successfully!</span></h1>
                        <p>Thank you for your email! We have received your request and will respond to you as soon as
                            possible. Please do not hesitate to reach out if you have any further questions or concerns.
                        </p>
                        <a href="/" class="btn btn-primary btn-lg">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <script>
        window.onload = function () {
            document.body.classList.add('loaded');
        };
    </script>
</body>

</html>