<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/file.css" />
    <link rel="stylesheet" href="css/loader.css">
</head>

<body class="">
    <div class="frame">
        <div class="center">
            <div class="title">
                <h2>Enter your event details :</h2>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <label for="name">Name:</label>
                    <input class="nametext" name="name" type="text" placeholder="Enter Event Name" required
                        oninvalid="this.setCustomValidity('Please Enter Event Name')"
                        oninput="this.setCustomValidity('')">

                    <label for="date">Date:</label>
                    <input class="datetext" name="date" type="date" required
                        oninvalid="this.setCustomValidity('Please Enter Date')" oninput="this.setCustomValidity('')">

                    <label for="file">Announcments File:</label>
                    <input type="file" class="choose" name="file" required
                        oninvalid="this.setCustomValidity('Please Choose a File')" oninput="this.setCustomValidity('')">

                    <button class="btn" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <script>
        window.onload = function () {
            document.body.classList.add('loaded');
        };
    </script>
</body>

</html>