<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>GSFC - Temple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/index.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/theme.css" type="text/css" />
    <link rel="stylesheet" href="css/loader.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,400italic,800,700'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>

<body>
    <div class="DesignHolder">
        <div class="LayoutFrame">
            <header>
                <div class="Center">
                    <div class="site-logo">
                        <h1><a href="#">Fertilizer<span>Township</span>CharitableTrust</a></h1>
                    </div>
                    <div id="mobile_sec">
                        <div class="mobile"><i class="fa fa-bars"></i><i class="fa fa-times"></i></div>
                        <div class="menumobile">
                            <nav class="Navigation">
                                <ul>
                                    <li class="active">
                                        <a class="amit-1" href="#home">Home</a>
                                        <span class="menu-item-bg"></span>
                                    </li>
                                    <li>
                                        <a class="amit-1" href="#about">About</a>
                                        <span class="menu-item-bg"></span>
                                    </li>
                                    <li>
                                        <a class="amit-1" href="#services">Gallery</a>
                                        <span class="menu-item-bg"></span>
                                    </li>
                                    <li>
                                        <a class="amit-1" href="#pricing">Donate</a>
                                        <span class="menu-item-bg"></span>
                                    </li>
                                    <li>
                                        <a class="amit-1" href="#contact">Contact us</a>
                                        <span class="menu-item-bg"></span>
                                    </li>
                                    <li>
                                        <a class="amit-1" href="/announcement">Announcement</a>
                                        <span class="menu-item-bg"></span>
                                    </li>
                                    <li>
                                        <a class="amit-1" href="/booking">Book Pooja</a>
                                        <span class="menu-item-bg"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Expenses
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                        <span class="menu-item-bg"></span>
                                    </li>
                                    <div class="dropdown-content" id="myDropdown">
                                        <li><a href="uploads/expances/2020-2021.pdf" target="_blank">2020-2021</a></li>
                                        <li><a href="uploads/expances/2021-2022.pdf" target="_blank">2021-2022</a></li>
                                        <li><a href="uploads/expances/2022-2023.pdf" target="_blank">2022-2023</a></li>
                                    </div>

                                    <% if(islogin){%>
                                        <li style="margin-right: 18px;">
                                            <a class="amit-1" href="/file">Login</a>
                                            <span class="menu-item-bg"></span>
                                        </li>
                                        <% }else{ %>
                                            <li style="margin-right: 18px;">
                                                <a class="amit-1" href="/logout">Logout</a>
                                                <span class="menu-item-bg"></span>
                                            </li>
                                            <% }%>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </header>

            <!-- Banner section  -->
            <div class="Banner_sec" id="home">
                <div class="bannerside">
                    <div class="Center">
                        <div class="leftside">
                            <h3>Har Har<span>Mahadev</span></h3>
                            <p>Temple of lord shiva</p>
                            <a href="#about">MORE DETAILS</a>
                        </div>

                        <div class="rightside">
                            <ul id="slider">
                                <li>
                                    <div class="Slider">
                                        <figure><img src="img/Slider-img1.jpg" alt="image"></figure>
                                        <div class="text">
                                            <div class="Icon">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="Slider">
                                        <figure><img src="img/Slider-img2.jpg" alt="image"></figure>
                                        <div class="text">

                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <figure><img src="img/Shadow-img.png" alt="image" class="Shadow"></figure>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bgcolor"></div>

            <!-- About us section  -->
            <div id="Container">
                <div class="About_sec" id="about">
                    <div class="Center">
                        <h2>about us</h2>
                        <div class="Line"></div>
                        <div class="Tabside">
                            <ul>
                                <li><a href="javascript:;" class="tabLink activeLink" id="cont-1">Information</a></li>
                                <li><a href="javascript:;" class="tabLink" id="cont-2">Trusties</a></li>
                                <li><a href="javascript:;" class="tabLink" id="cont-3">Donators</a></li>
                                <li><a href="javascript:;" class="tabLink" id="cont-4">Expenses</a></li>
                            </ul>
                            <div class="clear"></div>
                            <div class="tabcontent" id="cont-1-1">
                                <div class="TabImage">
                                    <div class="about-img1">
                                        <figure><img src="img/about-img1.jpg" alt="image"></figure>
                                    </div>
                                </div>
                                <div class="Description">
                                    <h3>Introduction</h3>
                                    <p>GSFC (Sikka Unit) has started its DAP Production in 1987 at Motikhavdi on
                                        Jamnagar - Dwarka highway at a distance of around 27 Kms, from Jamnagar. The
                                        company has also constructed its own township having 192 quarters near to the
                                        plant for the residents of officers and staff.
                                        <br>It was decided to construct a temple inside the township so that the
                                        residents of colony can actively take part in the religious overall activity.
                                        For the purpose, a Fertilizer Township Charitable Trust was established in 1989
                                        having its Registration No. E-796 Jamnagar dtd.10.02.1989. All the employees are
                                        contributing every month.
                                        <br>With the donations from well-wishers who came forward from time to time and
                                        as a result a “Shiva Temple” was constructed and its Pran Pratishtha was
                                        celebrated on “Mahashivratri day” i.e. on 25.02.1998.
                                        As per the plan, the construction of other 7 small temples dedicated to various
                                        god, goddess also completed around the main “Shiva Temple” in the year 2004.
                                        The “Pran Pratishtha Mahotsav” of these 7 temples was celebrated from 31.10.04
                                        to 02.11.04.
                                    </p>
                                </div>
                            </div>

                            <div class="tabcontent hide" id="cont-2-1">
                                <div class="TabImage">
                                    <div class="about-img1">
                                        <figure><img src="img/about-img1.jpg" alt="image"></figure>
                                    </div>
                                </div>
                                <div class="Description">
                                    <h3>Name of Trusties are:</h3>
                                    <p>Shri GM Patel - Chairman
                                        <br> Shri AJ Kulabkar - Secretary
                                        <br>Shri PD Rindani - Treasurer
                                        <br>Shri SA Desai - Member
                                        <br>Shri MM Patel
                                        <br>Shri MJ Acharya
                                        <br>ShriPA Pandya
                                        <br>Shri AN Gohil
                                        <br>Shri RL Dandekar
                                        <br>Shri MS Bhatt
                                        <br>Shri RM Rathod
                                        <br>Shri MB Desai
                                </div>
                            </div>

                            <div class="tabcontent hide" id="cont-3-1">
                                <div class="TabImage">
                                    <div class="about-img1">
                                        <figure><img src="img/about-img2.jpg" alt="image"></figure>
                                    </div>
                                </div>
                                <div class="Description">
                                    <h3>Donations: </h3>
                                    <p>3%-Income Golakh
                                        <br>10%-Donation through salary of employees
                                        <br>12%-Interest
                                        <br>75%-Donation by the worshipers.
                                    </p>
                                </div>
                            </div>

                            <div class="tabcontent hide" id="cont-4-1">
                                <div class="TabImage">
                                    <div class="about-img1">
                                        <figure><img src="img/about-img3.png" alt="image"></figure>
                                    </div>
                                </div>
                                <div class="Description">
                                    <h1>Expenses</h1>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <!-- Gallery section  -->
                <div class="Services_sec" id="services">
                    <div class="containeer">
                        <h1>Gallery</h1>
                        <div class="image-container">
                            <div class="image"><img src="img/img1.jpg" alt="" srcset=""></div>
                            <div class="image"><img src="img/img2.jpg" alt="" srcset=""></div>
                            <div class="image"><img src="img/img3.jpg" alt="" srcset=""></div>
                            <div class="image"><img src="img/img4.jpg" alt="" srcset=""></div>
                            <div class="image"><img src="img/img5.jpg" alt="" srcset=""></div>
                            <div class="image"><img src="img/img6.jpg" alt="" srcset=""></div>
                            <div class="image"><img src="img/img7.jpg" alt="" srcset=""></div>
                            <div class="image"><img src="img/img8.jpg" alt="" srcset=""></div>
                            <div class="image"><img src="img/img9.jpg" alt="" srcset=""></div>
                            <div class="image"><img src="img/img10.jpg" alt="" srcset=""></div>
                        </div>
                        <div class="popup-image">
                            <span>&times;</span>
                            <img src="img/img1.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>

                <!-- Donation section  -->
                <div class="Pricing_sec" id="pricing">
                    <div class="Center">
                        <h2>Donation</h2>
                        <p>Giving is not just about making donation.
                            It is about making difference.
                        </p>
                        <div class="Line"></div>
                        <div class="Pricingside">
                            <a href="/donation">Donate Now</a>
                        </div>
                    </div>
                </div>

                <!-- Map section  -->
                <div class="Map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3689.253720277665!2d69.84749081396804!3d22.38179064558998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395719e5c0b4fa3d%3A0x196c34d28a20357f!2sShiv%20Temple!5e0!3m2!1sen!2sin!4v1652160154632!5m2!1sen!2sin"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" width="1100" height="500" style="border:0;"
                        allowfullscreen="" loading="lazy" frameborder="0" allowfullscreen></iframe>
                </div>

                <!-- Contact us section  -->
                <div class="container" id="contact">
                    <div class="form">
                        <div class="contact-info">
                            <h3 class="title">Let's get in touch</h3>

                            <div class="info">
                                <div class="information">
                                    <i class="icon fa-2x fa-solid fa-location-dot"></i>
                                    <p>Shiv Temple, SH 6, GSFC Township, Motikhavdi, Gujarat 361140</p>
                                </div>
                                <div class="information">
                                    <i class="icon fa-2x fa-solid fa-envelope"></i>
                                    <p>ftct.gsfc@gmail.com</p>
                                </div>
                                <div class="information">
                                    <i class="icon fa-2x fa-solid fa-phone"></i>
                                    <p>9979862507</p>
                                </div>
                            </div>
                        </div>

                        <div class="contact-form">
                            <span class="circle one"></span>
                            <span class="circle two"></span>

                            <form action="/" method="post" autocomplete="off">
                                <h3 class="title">Contact us</h3>
                                <div style="margin-top: 20px;" class="input-container">
                                    <input type="text" name="name" class="input" placeholder="Name*" required>
                                </div>
                                <div class="input-container">
                                    <input type="email" name="email" class="input" placeholder="Enter your Email*"
                                        required>
                                    <span>Email</span>
                                </div>
                                <div class="input-container">
                                    <input type="tel" name="phone" class="input" placeholder="Enter your phoneNumber*"
                                        required>
                                    <span>Phone</span>
                                </div>
                                <div class="input-container textarea">
                                    <textarea name="message" class="input" placeholder="Enter your message*"
                                        required></textarea>
                                    <span>Message</span>
                                </div>
                                <input type="submit" value="Send" class="btn" />
                            </form>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="Cntr">
                        <p>COPYRIGHT © Amit Amrutiya <%=date%>
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Attched Javascripts -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.sudoSlider.min.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
</body>

</html>