body {
  background-image: url("../img/bg-8.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.frame {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 500px;
  height: 500px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 20px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(
    to top right,
    rgb(162, 9, 204) 0%,
    rgb(105, 205, 255) 100%
  );
  color: #333;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  height: 350px;
  border-radius: 15px;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
}

.nametext,
.datetext,
.choose {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  width: 95%;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #45a049;
}

.choose {
  background-color: #f8f8f8;
  cursor: pointer;
}

.choose:hover {
  background-color: #e8e8e8;
}
